
@import url('https://fonts.googleapis.com/css2?family=Cascadia+Code:ital,wght@0,200..700;1,200..700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: #151515;
    color: #ffff;
    margin: 50px;
     font-family: "Cascadia Code", sans-serif;

}

h2{
    text-align: center;
    font-size: 50px;
}

p{
    font-size: 25px;
    font-weight: 300;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.hidden{
    opacity: 0;
    
    transition: all 2s;
    transform: translateX(-100%);
}

.show{
    opacity: 1;
 
    transition: all 2s;
    transform: translateX(0);
}


.logos{
    display: flex;
    gap: 20px;
}

.logos :nth-last-child(2){
    transition-delay: 400ms;
}

.logos :nth-last-child(3){
    transition-delay:700ms;
}

.logos :nth-last-child(4){
    transition-delay: 1000ms;
}






/* imagens*/

.avatar{
 width: 150px;
 height:150px;
 object-fit: contain;
 background-color: #ffff;
 border-radius: 8px;
 margin: 5px;
}